
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 .wrap-video{
   padding: 10% 20% 10% 20%;
 }

  
  .wrap-video::-ms-fullscreen video *{
    width: 100%;
    height: 100%
  }

  .wrap-video::-webkit-full-screen video *{
    width: 100%;
    height: 100%
  }

  .wrap-video::-moz-full-screen video *{
    width: 100%;
    height: 100%
  }

  .video button{
   transition: 1s;
  }
 
 
  .video button:hover{
   transform: scale(1.2);
  }
 
  .video-section button {
   background-color: transparent;
   border: none;
   background-repeat: no-repeat;
  }
 
 .video .controls {
  margin-top: 0;
  padding-top: 0;
   position: absolute;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items:center;
   background: black;
   height: 72px;
    z-index:2147483647;
    
  }
 
  
  .video-section .controls button {
    width: 30px;
    height: 30px;
    background-size: 70%;
    background-position: 50%;
  }
 
  .video-section .controls button.action_play {
   background-image: url(./assets/img/button_2.png);  
   margin-left:10px;
  }
  
  
 
  .video-section .controls button.action_pause {
   background-image: url(./assets/img/button_3.png);  
   margin-left:10px;
  }
 
   
 .controls button.mute_false{
    background-image: url(./assets/img/button_5.png);   
  }
 
  
 .controls button.mute_true{
   background-image: url(./assets/img/button_7.png);   
 }
 
  .video-section .controls button.fullscreen_false{
   background-image: url(./assets/img/button_6.png);
    margin-right: 25px;
    margin-left: 10px;
    
  }
 
  
  .video-section .controls button.fullscreen_true{
   background-image: url(./assets/img/button_6.png);
   margin-right: 25px;
   margin-left: 10px; 
 }
 
  .video-section .controls * {
    vertical-align: middle;
  }
 
  .video{
    display: block;
    position: relative;
    background-color: black;
 }
 
 .video video{
   width:100%;
 }
 
 .video button.big_button_on {
    display: block;
    position: absolute;
    width:16%;
    height:37%;
    bottom:30%;
    left:42%; 
    pointer-events: none;
    background-size: 100%;
    background-image: url(./assets/img/button_1.png);
    transition: 1s;
 }
 
 .video button.big_button_off {
   position: absolute;
   height:37%;
   pointer-events: none;
   transition: 1s;
 }
 
 
 video button:hover{
   transform: scale(1.2);
 }
 
 
 .curr-time, .duration{
  color: grey;
  font-size: 25px;
  margin: 0 10px 0 10px;
 }
 
 
 .progress-bar {
    background: linear-gradient(to right, #679dad 0%, #679dad 0%, grey 100%, grey 100%);
    border: solid 2px black;
    border-radius: 0;
    height: 10px;
    width: 50%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
 
  .progress-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: white;
  }
 
   
  .volume {
    background: linear-gradient(to right, #679dad 0%, #679dad 0%, grey 100%, grey 100%);
    margin: 0 10px 0 10px;
    border: solid 2px black;
    border-radius: 0;
    height: 10px;
    width: 15%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
 
  .volume::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: white;
  }
 
  

  video::-webkit-media-controls {
    display:none !important;
  }

 
  
  #speed{
   background:linear-gradient(to right, #679dad 0%, #679dad 0%, grey 100%, grey 100%);
   margin-right: 10px;
   margin-left: 10px;
  }
 
 